**Experiment 1 :**
***` Introduction to python programming and python data types`***

**1.Introduction to Python**

In [2]:
# Print a message
print("Welcome to Python Programming!")

# Variables and basic math
a = 10
b = 5
print("Addition of", a, "and", b, "is:", a + b)

Welcome to Python Programming!
Addition of 10 and 5 is: 15

**2. Python Data Types**



> Numeric Types

In [3]:
x = 42  # Integer
y = 3.14  # Float
print("Integer:", x, "| Float:", y)

Integer: 42 | Float: 3.14



> String

In [4]:
greeting = "Hello, Python!"
print("Message:", greeting)
print("First 5 letters:", greeting[:5])  # Substring

Message: Hello, Python!
First 5 letters: Hello



> List

In [5]:
fruits = ["apple", "banana", "cherry"]
print("Fruits List:", fruits)
fruits.append("orange")  # Add a new fruit
print("Updated List:", fruits)

Fruits List: ['apple', 'banana', 'cherry']
Updated List: ['apple', 'banana', 'cherry', 'orange']



> Dictionary

In [7]:
student = {"name": "John", "age": 20}
print("Student Info:", student)
print("Student Name:", student["name"])

Student Info: {'name': 'John', 'age': 20}
Student Name: John